@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Groups.Data.Entities.Group

<head>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>


@{
    ViewData["Title"] = "Edit";
}

<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">Edit Group</h5>
   <hr/>

<form asp-action="Edit" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

                        <div class="form-group">
                <label asp-for="SpecializationName" class="control-label">Specialization Name</label>
                <input asp-for="SpecializationName" class="form-control" />
                <span asp-validation-for="SpecializationName" class="text-danger"></span>
            </div>

         

                        <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" name="Edit" value="Edit" asp-route-id="@Model.Id" class="btn btn-primary" /> <a asp-controller="Groups" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
</form>          

  </div>
</div>
</div>