@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Groups.ViewModels.CreateViewModel

<head>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>

@{
    ViewData["Title"] = "Create";
}


<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="card" style="width: 30rem;">
  <div class="card-body">
    <h5 class="card-title">Create Subgroup</h5>



<form asp-action="Create" enctype="multipart/form-data" method="post">
    <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subgroup.Name" class="control-label"></label>
                <input asp-for="Subgroup.Name" class="form-control" />
                <span asp-validation-for="Subgroup.Name" class="text-danger"></span>
            </div>


   <div class="form-group">
        <label asp-for="Subgroup.GroupId" class="control-label">Group</label>
                <select class="custom-select" asp-for="Subgroup.GroupId" 
            asp-items="@(new SelectList(Model.Groups, "Id", "Name"))">
        <option>Select group...</option>
        <span asp-validation-for="Subgroup.GroupId" class="text-danger"></span>
    </select>
          
               </div>
            
            <div class="form-group">
                <input type="submit" name="Create" value="Create" class="btn btn-primary" /> <a asp-controller="Default" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
</form>


  </div>
</div>
</div>