<h1>Welcome!</h1>


 <a asp-controller="Secretaries" asp-action="Create" class="btn btn-dark">Create secretary</a>
<button type="button" class="btn btn-dark">Create teacher</button>
<button type="button" class="btn btn-dark">Create student</button> <br>


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam sed metus placerat, placerat urna nec, dapibus nisi. Mauris molestie nisi eu nulla luctus pretium. Maecenas velit felis, mollis in efficitur rhoncus, sollicitudin rutrum purus. Pellentesque nisl massa, tempus vitae enim eu, luctus suscipit nibh. Aliquam laoreet placerat felis, id ultricies ipsum fermentum sit amet. Proin vitae nulla libero. Integer libero tortor, pretium non aliquet eget, sollicitudin eget magna. Maecenas finibus leo felis, sed consectetur leo imperdiet pulvinar. Etiam a cursus est. Pellentesque lobortis dui leo, sed vestibulum arcu aliquam quis. Aenean urna nisl, faucibus et nulla eget, tristique finibus neque.

Cras ullamcorper velit nec ligula mattis, sed tempor metus viverra. Curabitur in metus et turpis rhoncus vulputate. Sed tristique purus eget nunc mattis volutpat. Fusce dolor ex, tristique id faucibus vel, ullamcorper eget velit. Suspendisse ultrices enim eu sem gravida, ultricies vehicula risus sodales. Proin nec ex ut ex ultricies iaculis. Nunc malesuada viverra sapien vitae aliquam. Duis rutrum posuere justo, sollicitudin semper orci efficitur et. Curabitur ultricies nulla non felis ullamcorper tempus. Vivamus quis viverra leo. Quisque nec sodales diam. Proin diam nulla, varius sit amet euismod et, eleifend eget augue.

Suspendisse id justo interdum, porttitor arcu non, mollis ligula. Cras cursus leo non suscipit auctor. Mauris at mollis dui. Sed feugiat dictum massa, sit amet luctus urna faucibus sit amet. Quisque eros purus, tristique vel aliquet nec, viverra rhoncus nibh. Nam iaculis varius varius. Nam nec auctor dolor, eu dignissim diam. Maecenas gravida massa at est sodales imperdiet. Nullam aliquam risus nec eros suscipit, quis condimentum neque iaculis. Sed lacinia diam purus. Nulla facilisi. Vestibulum ut consequat urna, at interdum augue. Vivamus a dui leo. Integer sed vulputate ligula.

Cras vitae ante vitae nulla tincidunt dignissim. Quisque id ipsum ut massa gravida elementum. Aliquam molestie purus ipsum, et malesuada dui dapibus et. Quisque sed finibus enim, ac rutrum nunc. Aliquam quis congue nisl. Aliquam non velit ut nisi mattis pretium id vitae est. Etiam eros lorem, lobortis sit amet tellus convallis, mollis placerat diam. Proin rutrum lectus aliquam nisi euismod bibendum. Pellentesque sit amet molestie massa, et ullamcorper felis. In sem ex, auctor eget dui nec, iaculis volutpat nisi.

Pellentesque semper rutrum rutrum. Nullam in tincidunt neque. Nulla vitae eros efficitur, sagittis quam quis, accumsan lorem. Donec luctus iaculis lorem eget cursus. Suspendisse nec ultrices turpis, non pellentesque diam. Aenean malesuada dolor ut porttitor lacinia. Cras tellus arcu, efficitur in luctus vel, varius eu nibh.

