@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<head>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

 @if(ViewContext.HttpContext.User.IsInRole("Secretary")) {        
 <a asp-controller="Groups" asp-action="Create" class="btn btn-dark">Create group</a>
 <a asp-controller="Subgroups" asp-action="Create" class="btn btn-dark">Create subgroup</a>
 <a asp-controller="Courses" asp-action="Create" class="btn btn-dark">Create course</a>               
 <a asp-controller="Secretaries" asp-action="CreateStudent" class="btn btn-dark">Create student account</a>               
 }

@if (ViewContext.HttpContext.User.IsInRole("Teacher"))
{
    <a asp-controller="Laboratories" asp-action="Create" class="btn btn-dark">Create laboratory</a>
    <a asp-controller="Assignments" asp-action="Create" class="btn btn-dark">Create assignment</a>
}
<br>

     
 @if(ViewContext.HttpContext.User.IsInRole("Secretary")) {

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Students</h5>
        <p class="card-text">There are currently 500 students enrolled.</p>
        <a asp-controller="Students" asp-action="Index" class="btn btn-primary special-button">View students</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Teachers</h5>
        <p class="card-text">There are currently 140 teachers.</p>
        <a asp-controller="Teachers" asp-action="Index" class="btn btn-primary">View teachers</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">There are currently 100 courses.</p>
        <a asp-controller="Courses" asp-action="Index" class="btn btn-primary">View courses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Laboratories</h5>
        <p class="card-text">There are currently 100 laboratories.</p>
        <a asp-controller="Laboratories" asp-action="Index" class="btn btn-primary">View laboratories</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Groups</h5>
        <p class="card-text">There are currently 30 groups.</p>
        <a asp-controller="Groups" asp-action="Index" class="btn btn-primary">View groups</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Subgroups</h5>
        <p class="card-text">There are currently 60 subgroups.</p>
        <a asp-controller="Subgroups" asp-action="Index" class="btn btn-primary">View subgroups</a>
      </div>
    </div>
  </div>
</div>
}

 @if(ViewContext.HttpContext.User.IsInRole("Teacher")) {

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">You teach 10 courses.</p>
        <a asp-controller="Courses" asp-action="Index" class="btn btn-primary special-button">View courses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Laboratories</h5>
        <p class="card-text">You teach 3 laboratories.</p>
        <a asp-controller="Laboratories" asp-action="Index" class="btn btn-primary">View laboratories</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Students</h5>
        <p class="card-text">You have 140 students.</p>
        <a asp-controller="Students" asp-action="Index" class="btn btn-primary">View students</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Assignments</h5>
        <p class="card-text">There are currently 10 active assignments.</p>
        <a asp-controller="Assignments" asp-action="Index" class="btn btn-primary">View assignments</a>
      </div>
    </div>
  </div>
</div>
}

@if(ViewContext.HttpContext.User.IsInRole("Student")) {

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Courses</h5>
        <p class="card-text">You are enrolled in 7 courses.</p>
        <a asp-controller="Courses" asp-action="Index" class="btn btn-primary special-button">View courses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Laboratories</h5>
        <p class="card-text">You are enrolled in 7 laboratories.</p>
        <a asp-controller="Laboratories" asp-action="Index" class="btn btn-primary">View laboratories</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Assignments</h5>
        <p class="card-text">You have 3 assignments.</p>
        <a asp-controller="Assignments" asp-action="Index" class="btn btn-primary">View assignments</a>
      </div>
    </div>
  </div>
</div>
}

