@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="h-100 d-flex align-items-center justify-content-center" style="margin-top: 120px;">
  <div class="card text-center" style="width: 45rem;">
  <div class="card-body">
    <h4 class="card-title">Please login to continue</h4>

   <hr />

   <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login" style="color: #7386D5!important;">Click here to login</a>

     </div>
</div>
</div>