@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Posts.Data.Entities.Post

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="col">
        <h1>Edit post</h1>
    <form asp-action="Edit" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                
                @Html.HiddenFor(model => model.SubjectId)
                @Html.HiddenFor(model => model.DateCreated)


                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="5" cols="40"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" name="Edit" value="Edit"  asp-route-id="@Model.Id" class="btn btn-success" /> <a asp-controller="Courses" asp-action="Index" class="btn btn-secondary">Cancel</a>
                </div>
    </form>
    </div>
</div>