@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Submissions.ViewModels.SubmissionViewModel

<head>
    <link rel="stylesheet" href="../../Styles/styles.css"/>
</head>

@{
    ViewData["Title"] = "Submit assignment";
}


<div class="h-100 d-flex align-items-center justify-content-center">
  <div class="card" style="width: 35rem;">
  <div class="card-body">
    <h5 class="card-title">Submit your work</h5>


<form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            
            @Html.HiddenFor(model => model.AssignmentId)

             <div class="form-group">
                <label asp-for="FilePath" class="control-label">File</label>
                <div class="custom-file">
                    <input asp-for="FilePath" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
       

            <div class="form-group">
                <input type="submit" name="Create" value="Create" class="btn btn-primary" /> <a asp-controller="Default" asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
</form>
  </div>
</div>
</div>


@section scripts{
    <script type="text/javascript">
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}  
   